<div id="login--container">
  <div class="card text-white bg-primary mb-3">
    <div class="card-header">Login</div>
    <div class="card-body">
      <% if (messages.error) { %>
      <%= messages.error %>
      <% } %>
      <form action="/register" method="POST">
        <div class="form-group">
          <label class="col-form-label" for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="Max Mustermann" required>
        </div>
        <div class="form-group">
          <label class="col-form-label" for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="email@example.com" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
    <a href="/login" class="text-center">
      <button type="button" class="btn btn-outline-info btn-sm">
        Login Page
      </button>
    </a>
    <br>
  </div>
</div>