<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a new Season</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/slate/bootstrap.min.css" integrity="sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ" crossorigin="anonymous">
</head>

<body class="text-center">
  <script>
    let year;
    let season;
    let trackNr;
    let teamNr;
    let driverNr;
    let result;
    let teams = [];

    function initialInfo() {
      year = document.getElementById("year");
      season = document.getElementById("season");
      let trackCount = document.getElementById("track-count");
      let teamCount = document.getElementById("team-count");
      let driverCount = document.getElementById("driver-count");

      if (!year.value && !season.value && !trackCount.value && !teamCount.value && !driverCount.value) {
        document.getElementById("initial-error").innerText = "Please fill in all the fields";
      } else {
        //create input fields for track, team, and driver
        trackNr = parseInt(trackCount.value);
        let tracklist = document.getElementById("tracklist");
        for (let i = 0; i < trackNr; i++) {
          //add track input field
          tracklist.innerHTML += `<label for="track${i}">Track ${i+1}: </label>`;
          tracklist.innerHTML += `<input type="text" name="track${i}" id="track${i}" required>`;
          tracklist.innerHTML += `<br><br>`;
        }
        teamNr = parseInt(teamCount.value);
        let teamlist = document.getElementById("teamlist");
        for (let i = 0; i < teamNr; i++) {
          //add team input field
          teamlist.innerHTML += `<label for="team${i}">Team ${i+1}: </label>`;
          teamlist.innerHTML += `<input type="text" name="team${i}" id="team${i}" required>`;
          teamlist.innerHTML += `<input type="color" name="color${i}" id="color${i}" required>`;
          teamlist.innerHTML += `<br><br>`;
        }
        driverNr = parseInt(driverCount.value);

        document.getElementById('tracks').style.display = 'block';
        document.getElementById('initial-info').style.display = 'none';
      }
    }

    function setTracks() {

      //check if all fields are filled
      let checkTrackBool = true;
      for (let i = 0; i < trackNr; i++) {
        let track = document.getElementById(`track${i}`);
        if (!track.value) {
          checkTrackBool = false;
        }
      }
      if (checkTrackBool) {
        //hide tracks and show teams
        document.getElementById('tracks').style.display = 'none';
        document.getElementById('teams').style.display = 'block';
      } else {
        document.getElementById('tracks-error').innerText = "Please fill in all the fields";
      }
    }

    function setTeams() {
      let checkTeamBool = true;
      let teamsArray = [];
      for (let i = 0; i < teamNr; i++) {
        let team = document.getElementById(`team${i}`);
        teamsArray.push(team.value);
      }

      //generate team list select
      let teamSelect;
      teamSelect = "<select>";
      for (let i = 0; i < teamsArray.length; i++) {
        teamSelect += `<option value="${teamsArray[i]}">${teamsArray[i]}</option>`;
      }
      teamSelect += "</select>";

      for (let i = 0; i < teamNr; i++) {
        let team = document.getElementById(`team${i}`);
        if (!team.value && checkTeamBool) {
          checkTeamBool = false;
        }
      }
      if (checkTeamBool) {
        //generate driver input fields
        let driverlist = document.getElementById("driverlist");
        for (let i = 0; i < driverNr; i++) {
          //add driver input field
          driverlist.innerHTML += `<label for="driver${i}">Driver ${i+1}: </label>`;
          driverlist.innerHTML += `<input type="text" name="driver${i}" id="driver${i}" required>`;
          driverlist.innerHTML += teamSelect;
          driverlist.innerHTML += `<br><br>`;
        }

        //hide teams and show drivers
        document.getElementById('teams').style.display = 'none';
        document.getElementById('drivers').style.display = 'block';
      } else {
        document.getElementById('teams-error').innerText = "Please fill in all the fields";
      }
    }

    function setDriver() {
      let checkDriverBool = true;
      for (let i = 0; i < driverNr; i++) {
        let driver = document.getElementById(`driver${i}`);
        if (!driver.value && checkDriverBool) {
          checkDriverBool = false;
        }
      }
      if (checkDriverBool) {
        //generate result JSON
        result = {
          "year": year.value,
          "season": season.value,
          "tracks": [],
          "driverTeams": []
        };
        for (let i = 0; i < trackNr; i++) {
          let track = document.getElementById(`track${i}`);
          result.tracks.push(track.value);
        }
        for (let i = 0; i < teamNr; i++) {
          let team = document.getElementById(`team${i}`);
          let color = document.getElementById(`color${i}`);
          teams.push({
            "team": team.value,
            "color": color.value
          });
        }
        for (let i = 0; i < driverNr; i++) {
          let driver = document.getElementById(`driver${i}`);
          let team = driver.nextSibling;
          //find team index
          let teamIndex = teams.findIndex(x => x.team === team.value);
          result.driverTeams.push({
            "driver": driver.value,
            "team": team.value,
            "color": teams[teamIndex].color
          });
        }
        //hide drivers and show submit button
        document.getElementById('drivers').style.display = 'none';
        document.getElementsByTagName('body')[0].innerHTML += generateFinalOverview(result);
      } else {
        document.getElementById('drivers-error').innerText = "Please fill in all the fields";
      }
    }

    function generateFinalOverview() {
      let overview = `<div id="final-overview">
      <h1>Final Overview</h1>
      <h3>Year: ${result.year}</h3>
      <h3>Season: ${result.season}</h3>
      <h3>Tracks:</h3><p> <blockquote>`;
      for (let i = 0; i < result.tracks.length; i++) {
        overview += `${result.tracks[i]}<br>`;
      }
      overview += `</blockquote></p>
      <h3>Driver Teams:</h3> <blockquote>`;
      for (let i = 0; i < result.driverTeams.length; i++) {
        overview += `${result.driverTeams[i].driver} - ${result.driverTeams[i].team}<br>`;
      }
      overview += `</blockquote></p>
      <p id="submit-error"></p>
      <button class="btn btn-info" onclick="sendForm()">Submit</button>
      </div>`;
      return overview;
    }

    function sendForm() {
      console.log(result);
      fetch('/create', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(result)
      }).then(res => {
        if (res.status === 200) {
          console.log("success");
          window.location.href = "/admin";
        } else {
          document.getElementById("submit-error").innerText = "Something went wrong, please try again. Maybe it already exists? Status: " + res.status;
        }
      });
    }
  </script>

  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      min-height: 100vh;
    }

    #container {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    #footer {
      margin-top: auto;
    }
  </style>
  <div id="container">
    <div id="body">
      <div id="initial-info">
        <h1>VTEC season creation form</h1>
        <label for="year">Year:</label>
        <input type="number" name="year" id="year" required>
        <br><br>
        <label for="season">SeasonNr.:</label>
        <input type="number" min="1" max="4" name="season" id="season" required>
        <br><br>
        <label for="track-count">Track count:</label>
        <input type="number" name="track-count" id="track-count" required>
        <br><br>
        <label for="team-count">Team count:</label>
        <input type="number" name="team-count" id="team-count" required>
        <br><br>
        <label for="driver-count">Driver count:</label>
        <input type="number" name="driver-count" id="driver-count" required>
        <p id="initial-error"></p>
        <button type="button" onclick="initialInfo()">Next step</button>
      </div>
      <div id="tracks" style="display: none;">
        <h1>Please enter the Tracks that are driven:</h1>
        <div id="tracklist"></div>
        <p id="tracks-error"></p>
        <button type="button" onclick="setTracks()">Next step</button>
      </div>
      <div id="teams" style="display: none;">
        <h1>Please enter the Teams that will compete:</h1>
        <div id="teamlist"></div>
        <p id="teams-error"></p>
        <button type="button" onclick="setTeams()">Next step</button>
      </div>
      <div id="drivers" style="display: none;">
        <h1>Please enter the Drivers for the current season:</h1>
        <div id="driverlist"></div>
        <button type="button" onclick="setDriver()">finish</button>
      </div>
    </div>
    <div id="footer">
      <%- include('footer')%>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>