  <br>
  <br>
  <footer>
    <p>&copy; Malte Teichert 2021-<%= new Date().getFullYear() %></p> <br>
    <a href="https://github.com/TazorDE">GitHub</a> - <a href="https://malteteichert.de">My Website</a>
    <address>
      contact: <a href="mailto:contact@malteteichert.de">E-Mail</a><br>
    </address>
    <a href="/impressum">Impressum</a>
  </footer>