  <footer>
    <p>&copy; Malte Teichert 2021-<%= new Date().getFullYear() %></p>
    <a href="https://github.com/TazorDE">GitHub</a> - <a href="https://malteteichert.de">My Website</a>
    <address>
      contact: <a href="mailto:contact@malteteichert.de">E-Mail</a>
      <br>
      <a href="/impressum">Impressum</a>
    </address>
  </footer>