<td style="min-width:4em; background-color: <%= bg %>; color: <%= color %>">
  <% if(resIndex != -1){ %>
    <% if(fastest){ %>
    <b>
    <% } %>

    <%= resIndex +1 %>

    <% if(dnf){ %>
    (DNF)
    <% } %>

    <% if(fastest){ %>
    </b>
    <% } %>
  <% } else { %>
    <% if(tookPlace){ %>
    DNS
    <% } %>
  <% } %>
</td>