<meta charset="UTF-8">
<meta http-equiv="Content-Security-Policy" content="script-src-elem https://kryogenix.org/  https://cdn.jsdelivr.net/ 'unsafe-eval' 'unsafe-hashes' 'unsafe-inline'">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ergebnisse <%= year %> - <%= seasonNr %></title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/slate/bootstrap.min.css" integrity="sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ" crossorigin="anonymous">
<script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>