<div class="text-center">
  <h1 class="mt-2">VTEC Results System</h1>

  <% 
    // sort data.result.rows by doc.year and doc.seasonNr in descending order
    data.result.rows.sort(function(a, b) {
      if (a.doc.year > b.doc.year) {
        return -1;
      } else if (a.doc.year < b.doc.year) {
        return 1;
      } else {
        if (a.doc.seasonNr > b.doc.seasonNr) {
          return -1;
        } else if (a.doc.seasonNr < b.doc.seasonNr) {
          return 1;
        } else {
          return 0;
        }
      }
    });
  %>
  <% // create Link-Buttons that lead to the results page for the season with the newest season on top %>
  <% data.result.rows.forEach(element => { %>
  <a href="/result/<%= element.doc.year %>-<%= element.doc.seasonNr %>">
    <button class="btn btn-primary">
      <%= element.doc.year %>-<%= element.doc.seasonNr %>
    </button>
  </a>
  <br>
  <% }); %>
</div>